
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>All Users</h2>
    <div class="div">
        <table>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
            {% for one_user in users%}
            <tr>
                <td>{{one_user.first_name}}</td>
                <td>{{one_user.last_name}}</td>
                <td>{{one_user.email}}</td>
                <td>{{one_user.created_at}}</td>
                <td><a href="/update/form/{{one_user.id}}">Update</a></td>
                <td><a href="/delete/{{one_user.id}}">|  Delete</a></td>
                <td><a href="/show/{{one_user.id}}">|  Show User</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
    <P><a href="/add/user">Add a New User</a></P>
</body>
</html>

