<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Update {{one_user.first_name}}, {{one_user.last_name}}</h2>
    <div class="div">
        <form action="/update/form/{{one_user.id}}" method="POST">
            <!-- first_name -->
            <label for="first_name"> First Name:</label><br>
            <input type="text" name="first_name" id="first_name" value="{{one_user.first_name}}"><br>
            <!--<--last_name-->
            <label for="last_name"> last Name:</label><br>
            <input type="text" name="last_name" id="last_name"value="{{one_user.last_name}}"><br>
            <!-- email -->
            <label for="email"> Email:</label><br>
            <input type="text" name="email" id="email" value="{{one_user.email}}"><br><br>
            <input type="hidden" name="id">
            <button>Update</button>
        </form>
    </div>
    <p><a href="/">Return</a></p>
</body>
</html>