<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">

    <nav class="justify-content-start">
        <img src="{{url_for('static', filename='images/sasquatchWebLogo2.png')}}" alt="sasquatchWebLogo"
            class="navlogoImage">
    </nav><br>

</head>

<body>
        <!-- jinja -->
        <div class="div">
            {%for message in get_flashed_messages()%}
            <p>{{message}}</p>
            {%endfor%}
        </div>
        <!-- sighting_page -->
        <div  class="justify-content-end" id="buttons">
        <button class="button">
            <a href='/user/dashboard'style="text-decoration: none; color: white;">HOME</a>
        </button>
        <button class="danger-button">
            <a href='/logout' style="text-decoration: none; color: white;">Logout</a>
        </button>
    </div>
    <div class="sightingFormContainer">
            <h2>Edit Sighting</h2>
            <!-- sighting form -->
                <form action="/sightings/{{this_sighting.id}}/update" method="POST">
                    <!-- location -->
                    <label for="location">Location:</label><br>
                    <input type="text" name="location" id="location" value="{{this_sighting.location}}"><br>
                    <!-- what_happened -->
                    <label for="what_happened">What Happened:</label><br>
                    <textarea name="what_happened" id="what_happened" cols="30" rows="5" >{{this_sighting.what_happened}}</textarea><br><br>
                    <!--date_of_sighting -->
                    <label for="date_of_sighting">Date Of Sighting:</label><br>
                    <input type="date" name="date_of_sighting" id="date_of_sighting" value="{{this_sighting.date_of_sighting}}"><br>
                    <!-- number_of_sasquatch -->
                    <label for="number_of_sasquatch">number_of_sasquatch:</label><br>
                    <input type="number" name="number_of_sasquatch" id="number_of_sasquatch" value="{{this_sighting.number_of_sasquatch}}"><br><br>
                    <button>Update sighting</button>
                </form>
        </div>
</body>
</html>