<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Ninja</title>
</head>
<body>
    <div class="div">
        <p><a href="/">Home</a></p>
        <form action="/add/ninja/process/form" method="POST">
            <!-- drop down -->
            <label for="">Dojo_name</label><br>
            <select value='dojo_id' name="dojo_id" id="dojo_id">
                <!-- jinja loop --------------------->
                {% for one_dojo in all_dojos%}
                    <option value="{{one_dojo.id}}" name="{{one_dojo.id}}">
                        {{one_dojo.name}}
                    </option>
                {%endfor%}
            </select><br>
            <!-- Drop Down END --->
            <!-- first name -->
            <label for="first_name">First Name</label><br>
            <input type="text" name="first_name" id="first_name"><br>
            <!-- last_name -->
            <label for="last_name">Last Name</label><br>
            <input type="text" name="last_name" id="last_name"><br>
            <!-- age -->
            <label for="age">Age</label><br>
            <input type="text" name="age" id="age"><br><br>
            <!-- button -->
            <button>Create</button>
        </form>
    </div>
</body>
</html>