<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}"> -->

    <title>show Dojo Page</title>
</head>
<body>
    <div class="div">
        <div class="div">
            <table>
                    <h2>{{one_dojo_with_ninjas.name}}</h2>
                    <p>Ninjas</p>
                    <tr>
                        <th>First Name:</th>
                        <th>Last Name</th>
                        <th>Age</th>
                    </tr>
                    {%for one_ninja in one_dojo_with_ninjas.ninjas%}
                        <tr>
                            <td>{{one_ninja.first_name}}</td>
                            <td>{{one_ninja.last_name}}</td>
                            <td>{{one_ninja.age}}</td>
                        </tr>
                    {%endfor%}
            </table>
        </div>
    </div>
</body>
</html>