<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2 class='h2'>Counter</h2>
        <p>Times:{{session['counter']}} </p>
        <form action="/add", method="POST">
            <button name="add2">Add 2</button><br>
        </form>
        <form action="/reset", method="POST">
            <button>Reset</button>
        </form>
    </div>
</body>
</html>